/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    position: relative;
    padding: 2em 0px;
    max-width: 80%;
    left: 17em;
}

.sidebar{
    background-color: rgb(34, 34, 65);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: fixed;
    height: 100vh;
    max-width: 20%;
}

.dropdown{
    margin: 1em 0em;
}
.sidebar header{
    padding: 0.5em;
}

.sidebar header p{
    margin-top: 0.2em;
    color: rgb(116, 116, 125);
}

.links {
    flex: 1;
    padding: 1em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.drop {
    padding: 0.2em;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(47, 47, 83);
}

.dropdown:hover .dropdown-content,
.dropimg:hover ~ .dropdown-content {
    display: block;
}

.drop span a{
    color: white;
    text-decoration: none;
    display: block;
}
.online-contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.online-contacts a img{
    width: 2em;
}
/* =========================================== */

.main{
    position: relative;
    display: flex;
    flex-direction: column;
}
.main h1{
    margin: 0px 0.5em;
}


.Stories{
    margin: 1em;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.card{
    position: relative;
    max-width: 22.5em;
    max-height: 26em;
}

.card .backImg{
    width: 100%;
    height: 45%;
}

.card .tag{
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: white;
    padding: 0.8em 1em;
}

.card h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.card .details{
    display: flex;
    justify-content: space-around;
}
.card .details .views{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .brief{
    margin: 0.5em 0px;
}

.card .readmore{
    text-decoration: underline;
    text-decoration-color: pink;
    text-underline-offset: 5px;
}


aside{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search{
    display: flex;
    flex-direction: column;
}
aside .search .input{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .search .input input{
    font-size: 1.5em;
    padding: 0.2em;
    flex: 1;
    outline: none;
    border: 0px;
    color: rgb(87, 87, 87);;
}

aside .search .input img{
    width: 1.5em;
    margin: 0.5em;
    cursor: pointer;
}
aside .search span{
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

aside h2{
    margin: 0.8em 0px;
}

aside .popular .post{
    color: white;
    position: relative;  
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2em;
    height: 16em;
}

aside .popular .post .date{
    margin: 0.5em 0px;
    font-weight: 0.5em;
}

aside .popular .post img{
    position: absolute;
    width: 100%;
    max-width: 24em;
    height: 16em;
    z-index: -1;
    left: 0px;
    top: 0px;
    filter: brightness(75%);
}

aside .popular .wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.recent{
    display: flex;
    flex-direction: column;
}

.recentPost{
    display: flex;
    gap: 5px;
}

.recentPost .recentDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.recentPost img{
    width: 6em;
    height: 3.6em;
    background-position: center;
}
.recentPost .recentDetails .date{
    font-size: 0.8em;
} */